body {
	background: rgb(112, 112, 228);
	font: normal 18pt Arial;
}
header {
	margin: auto;
	font-size: 10pt;
	width: inherit;
}
#atencao{
	background: rgb(216, 214, 214);
	border-radius: 20px;
	margin: auto;
	margin-top: 50px;
	text-align: center;
	width: 750px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363) ;
}
audio  {
	width: 250px;
	padding: 10px 2px 2px;	
}


section {
	background: white;
	border-radius: 20px;
	width: 600px;
	margin: auto;
	margin-bottom: 20px;
	font-size: 15pt;
	height: 400px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
	padding: 5px 20px;
	text-align: left;

}
ul {
	padding-left: 25%;
	margin: auto;
}


footer {
	
}

