body {
    background: rgb(74, 247, 247);
    text-align: center;
    margin: 0;
    padding: 0;
}

section {
    background-color: rgba(5, 5, 5, 0.199);
    height: 315px;
    width: 750px;
    margin: auto;
    border: 5px solid rgba(5, 5, 5, 0.5);
}

#fotos {
    margin-top: 3px;
}

.foto {
    height: 300px;
    width: auto;
    margin: 4px;
}

#basefoto2 {
margin-left: 15px;
margin-right: 7.5px;
}

#basefoto3 {
    margin-left: 7.5px;
    margin-right: 15px;
}

/* Realça imagme quando passa o mouse por cima!
img {
    opacity: 0.6;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}
img:hover {
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}*/